<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<appender name="fileAppender2" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/logex/logex2.log</file> 														<!-- 이 경로에 연결되어 있음. -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">     
			<FileNamePattern>/logex/logex2.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>											<!-- 압축파일index 1부터 10까지, 10넘어가면 1을 지우고 1에 쓰기 -->
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>50KB</MaxFileSize>									<!-- 파일크기가 50kb가 넘어가면 압축하고 다른 파일에 남겨라 -->
		</triggeringPolicy>
	</appender>
	
	<appender name="fileAppender3" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/logex/logex3.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>/logex/logex3.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10KB</MaxFileSize>
		</triggeringPolicy>
	</appender>	


	<!--
		com.bitacademy.logex2 아래 패키지 로그들만  \logex\logex2.log 파일에만  출력하는 로거
	-->
	<logger name="com.bitacademy.logex2" level="debug" additivity="false">
            <appender-ref ref="fileAppender2" />								<!-- file에 남김 -->
    </logger>
    
	<!--
		com.bitacademy.logex3 아래 패키지 로그들만  \logex\logex3.log 파일과 콘솔로 출력하는 로거
	-->
	<logger name="com.bitacademy.logex3"  level="warn" additivity="false">		<!-- level이 warn이라, warn,error만 나옴 -->
            <appender-ref ref="fileAppender3" />								<!-- file에 남김 -->
			<appender-ref ref="consoleAppender" />									<!-- console에 남김 -->
    </logger>    
	
	<!-- 루트(글로벌) 로거,  logger 없는 애들은 다 여기에 걸림 -->
	<root level="warn">							<!-- level이 debug이므로 높다. debug 아래 거 다 나온다. ->warn으로 바꿔줌 -->
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>